<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="Polynet">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="./js/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/creation.css">
    <title>Login</title>
</head>

<body ng-controller="MainController">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <i class="fas fa-user"></i>
        </div>

        <!-- Login Form -->
        <form method="post" ng-submit="register()">
            <input type="text" ng-model="username" id="username" class="fadeIn second" name="username" placeholder="Login" required>
            <input type="password" ng-model="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
            <input type="password" ng-model="verif" id="verif" class="fadeIn third" name="verif" placeholder="Password verification" required>
            <input type="submit" class="fadeIn fourth" value="Create Account">
            <p id="errorRegister" ng-bind="errorRegister"></p>
        </form>

        <!-- Remind Password -->
        <div id="formFooter">
            <a class="underlineHover sign-up" href="/login"> You already have an Account </a>
        </div>

    </div>
</div>
</body>

</html>