<!DOCTYPE html>
<html lang="en" ng-app="Polynet">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Your TodoList</title>

    <link rel="stylesheet" href="./css/todolist.css">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="./js/controller.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="MainController" class="backgroundTodo">

<button class="btn btn-info btn-lg" id="logout_button" onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i> Log out</button>
<h1><i class="fa fa-check"></i>Welcome <span id="connectedUser">{{connectedUser}}</span></h1>
<form id="todo-list">
    <div ng-repeat="task in tasks">
        <span class="todo-wrap">
            <input id="{{$index}}" type="checkbox" ng-checked="task.done" ng-click="checkTask($index)"/>
            <label for="{{$index}}" class="todo">
                <i class="fa fa-check"></i>
                {{task.content}}
            </label>
            <span class="delete-item" title="remove" ng-click="deleteTask(task.id)">
                <i class="fa fa-times-circle"></i>
            </span>
            <span class="edit-item" data-toggle="modal" data-target="#editModal" ng-click="setModalFocus($index)">
                <i class="fas fa-pencil-alt"></i>
            </span>
        </span>
    </div>
    <div id="add-todo" data-toggle="modal" data-target="#exampleModal" ng-click="onOpenAddModal()">
        <i class="fa fa-plus"></i>
        Add an Item
    </div>
</form>
<!-- Add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a new Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="insertTask()">
                <div class="modal-body">
                    <input class="form-control" id="addContent" type="text" ng-model="TaskContent" placeholder="What to do?">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="insertTask()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="updateTask(modalIndex)">
                <div class="modal-body">
                    <input class="form-control" id="editContent" type="text" ng-value="tasks[modalIndex].content" ng-model="EditContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateTask(modalIndex)">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
